.App {
  text-align: center;
}

.App {
  text-align: center;
}

body{
  margin: 0;
  padding: 0 0 50px 0;

}
form{
  text-align: right;
  padding: 10px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #4db6ac;
}
input {
  padding: 5px 10px;
}
.author {
  color: red;
  font-weight: bold;
}
span {
  margin: 0 10px;
}